.h1-title {
  margin: .5rem auto;
  padding: 1rem;

  width: 100%;
  max-width: 350px;

  text-align: center;
  border-bottom: 3px solid whitesmoke;
}

.button-addCounter {
  padding: .3rem 1rem;

  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-transform: uppercase;

  display: flex;
  justify-self: center;

  border: 2px solid whitesmoke;
  border-radius: 5px;

  color: currentColor;
  background: #0000005b;
}

.grid-container {
  margin: 1rem auto;
  padding: .3rem;

  width: 100%;
  max-width: 850px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  justify-items: center;
  gap: 10px;
}